.UserOutput{
    width: 200px;
    height: 70px;
    padding: 16px;
    position: relative;
    top: 50px;
    left: 560px;
    margin: 20px 0;
    border: 2px solid white;
    color: white;
    background-color: #02404a;
    box-shadow: 0 2px 3px;
    text-align: center;
    border-radius: 5px;
}

